@page
@model ParkNet.App.Pages.Payments.Permits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Avença</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Duração em meses
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Permit.Months)
        </dd>
        <dt class="col-sm-2">
            Data de início
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Permit.PermitAccess)
        </dd>
        <dt class="col-sm-2">
            Veículo
        </dt>
        <dd class="col-sm-10">
            @Model.VehicleLicensePlate
        </dd>
        <dt class="col-sm-2">
            Lugar
        </dt>
        <dd class="col-sm-10">
            @Model.SpaceName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Permit.Id">Editar</a> |
    <a asp-page="./Index">Retroceder</a>
</div>
