@page
@model ParkNet.App.Pages.Payments.Permits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Estacionamento</h1>

<p>
    <a asp-page="Create">Nova avença</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].PermitAccess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].PermitExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Permit[0].Space)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitAccess)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitExpiry)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
