@page
@model ParkNet.App.Pages.Payments.Permits.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Avenças</h1>

<p>
    <a asp-page="Create">Nova avença</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Duração em meses
            </th>
            <th>
                Data de início
            </th>
            <th>
                Data de fim
            </th>
            <th>
                Veículo
            </th>
            <th>
                Lugar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Permit) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Months)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermitAccess)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PermitExpiry)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
