@page
@model ParkNet.App.Pages.Tariffs.TicketTariffs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Tarifário bilhetes</h1>

<p>
    <a asp-page="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Preço por cada 15 minutos, na primeira hora
            </th>
            <th>
                Preço por hora, a partir da segunda hora
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TicketTariff) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Each15minOnFirstHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondAndNextHours)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
