@page
@model ParkNet.App.Pages.Users.Transactions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Transações</h1>

<p>
    <a asp-page="Create">Carregar saldo</a>
</p>
<p>
    <b>Saldo: @Model.SumTransactions</b>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Transações
            </th>
            <th>
                Data
            </th>
            <th>
                Usuário
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transaction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InsAndOuts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
