@page
@model ParkNet.App.Pages.Users.Documents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Documentos</h1>

<p>
    <a asp-page="Create">Inserir novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Número
            </th>
            <th>
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Document) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
