@page
@model ParkNet.App.Pages.Tariffs.PermitTariffs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PermitTariff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTariff.Monthly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Monthly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTariff.Quarterly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Quarterly)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTariff.Semiannual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Semiannual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PermitTariff.Yearly)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PermitTariff.Yearly)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PermitTariff.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
