@page
@model ParkNet.App.Pages.Parks.Spaces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lugares</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Space[0].Floor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Space) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor.Name)
            </td>
            <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
