@page
@model ParkNet.App.Pages.Payments.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.EntryDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.EntryDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ExitDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ExitDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Vehicle.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Space)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Space.Name)
        </dd>
    </dl>
</div>
<div>
@*     <a asp-page="./Edit" asp-route-id="@Model.Ticket.Id">Edit</a> | *@
    <a asp-page="./Index">Back to List</a>
</div>
