@page
@model ParkNet.App.Pages.Payments.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Estacionamento</h1>

<p>
    <a asp-page="Create">Tirar bilhete</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data de entrada
            </th>
            <th>
                Data de saída
            </th>
            <th>
                Veículo
            </th>
            <th>
                Lugar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ticket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExitDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Space.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Sair</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
