@page
@model ParkNet.App.Pages.Payments.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].EntryDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].ExitDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Space)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Space.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
